{% extends "blog/base.html" %}

{% block content %}
<!-- main -->
  <main>
    <section class="section-container nav-top-margin">
    <div class="section-heading contact-heading">
      <h2>Contact Us Today</h2>
    </div>
    <div class="section-details">
      <div class="contact-info">
        <p>Do you need someone to help and guild you spiritually? We are available, get across to us on any of these.</p>
      </div>
      <div class="contact-center">
        <!-- single item -->
        <div class="contact-page-item">
          <div class="contact-page-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <h3>Email Address</h3>
          <p><a href="mailto:worshipwithjoe@gmail.com">worshipwithjoe@gmail.com</a></p>
        </div>
        <!-- end of single item -->
        <!-- single item -->
        <div class="contact-page-item">
          <div class="contact-page-icon">
            <i class="fas fa-phone"></i>
          </div>
          <h3>Phone Number</h3>
          <p><a href="tel:+2348107327467">+2348107327467</a></p>
        </div>
        <!-- end of single item -->
        <!-- single item -->
        <div class="contact-page-item">
          <div class="contact-page-icon">
            <i class="fas fa-address-book"></i>
          </div>
          <h3>Address</h3>
          <p>Alexander Brown Hall, Ibadan</p>
        </div>
        <!-- end of single item -->
      </div>
    </div>
  </section>
  
  </main>
  <!-- end main -->

{% endblock content %}
