    <!-- footer -->
  <footer class="footer">
    <!-- nav-top -->
    <div class="footer-top">
    <div class="contact-us">
      <!-- footer header -->
      <div class="footer-header">
        <h3>Contact Us</h3>
      </div>
      <!-- end footer header -->
      <div class="single-contact">
        <div class="contact-icon">
          <i class="fas fa-address-book"></i>
        </div>
        <div class="contact-info">
          <p>Contact address here</p>
        </div>
      </div>
      <div class="single-contact">
        <div class="contact-icon">
          <i class="fas fa-phone"></i>
        </div>
        <div class="contact-info">
          <a href="tel:+2348107327467">+2348107327467</a>
        </div>
      </div>
      <div class="single-contact">
        <div class="contact-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="contact-info">
          <a href="mailto:worshipwithjoe@gmail.com">worshipwithjoe@gmail.com</a>
        </div>
      </div>
    </div>
    <!-- navigate site -->
    <div class="other-page">
      <div class="footer-header">
        <h3>Other Pages</h3>
      </div>
      <div class="pages">
        <div class="footer-page">
          <a href="{% url 'blog:home_page' %}"><i class="fas fa-arrow-right"></i> Home</a>
        </div>
        <div class="footer-page">
          <a href="{% url 'blog:about_page' %}"><i class="fas fa-arrow-right"></i> About Us</a>
        </div>
        <div class="footer-page">
          <a href="{% url 'blog:blog_page' %}"><i class="fas fa-arrow-right"></i> Articles</a>
        </div>
        <div class="footer-page">
          <a href="{% url 'youtube:youtube_videos' %}"><i class="fas fa-arrow-right"></i> Worship with JOE</a>
        </div>
        <div class="footer-page">
          <a href="{% url 'blog:contact_page' %}"><i class="fas fa-arrow-right"></i> Contact Us</a>
        </div>
      </div>
    </div>
    <!-- end navigate site -->

    </div>
    <!-- footer bottom -->
    <article class="footer-note">
      <div class="footer-icons">
          <div class="footer-icon">
            <a href="https://www.facebook.com/profile.php?id=100063558847754"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="footer-icon">
            <a href="https://twitter.com/joe"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="footer-icon">
            <a href="https://instagram.com/jesusovereverything_7?igshid=ZDdkNTZiNTM="><i class="fab fa-instagram"></i></a>
          </div>
           <div class="footer-icon">
            <a href="https://www.linkedin.com/joe"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="footer-icon">
            <a href="https://youtube.com/@worshipwithjoe1565"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer-right">
          <p>&copy; <span class="footer-date"></span> Jesus Over Everything. all right reserved</p>
        </div>
        <div class="designer">
          <p>site built by <a href="https://heritagewebdev.netlify.app">Heritage Web Dev</a></p>
        </div>
    </article>
  </footer>
  <!-- end footer -->