<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jesus Over Everything</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./fontawesome-free-6.2.0-web/css/all.css">
  <link rel="stylesheet" href="./css/aos.css">
  <link rel="stylesheet" href="./css/owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="./css/owlcarousel/owl.theme.default.min.css">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
</head>
<body id="body">
  <header>
    <!-- nav bar -->
    <nav class="nav-bar">
      <div class="nav-top">

        <div class="nav-logo">
          <a href=""><img src="./images/logo.png" alt=""></a>
        </div>
        <div class="nav-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="close-links">
        <div class="nav-close-btn">
          <i class="fas fa-times"></i>
        </div>
        <ul class="nav-links">
          <li class="nav-link"><a href="index.html">Home</a></li>
          <li class="nav-link"><a href="about.html">About Us</a></li>
          <li class="nav-link article-click">Article <i class="fas fa-chevron-down"></i> </li>
          <div class="article-links">
            <li class="article-link"><a href="article.html">All Articles</a></li>
            <li class="article-link"><a href="">Tracts</a></li>
            <li class="article-link"><a href="">Magazines</a></li>
          </div>
          <li class="nav-link"><a href="worship.html">Worship with JOE</a></li>
          <li class="nav-link"><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <!-- end nav bar -->
    <!-- banner -->
    <div class="banner worship-banner">
      <div class="banner-text">
        <h1>Worship with us at Jesus over everything</h1>
      </div>
    </div>
    <!-- end banner -->
  </header>
  <main>

    <div class="section-container">
      <div class="articles">
        <div class="single-video">
          <iframe src="https://www.youtube.com/embed/5UC9xwTE8Vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="single-video">
          <iframe src="https://www.youtube.com/embed/VFvzCldhYAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="single-video">
          <iframe src="https://www.youtube.com/embed/sIR9mHZjjd0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="single-video">
          <iframe src="https://www.youtube.com/embed/Av_bVzWNKoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="single-video">
          <iframe src="https://www.youtube.com/embed/5UC9xwTE8Vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="single-video">
          <iframe src="https://www.youtube.com/embed/RotLiGSzcew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
          <!-- pagination -->
    <ul class="pagination">
      <li class="pagination-item prev"><i class="fas fa-arrow-left"></i></li>
      <li class="pagination-item pagination-active">1</li>
      <li class="pagination-item">2</li>
      <li class="pagination-item">3</li>
      <li class="pagination-item next"><i class="fas fa-arrow-right"></i></li>
    </ul>
    <!-- end of pagination -->
    </div>
  </main>
  <!-- back to top -->
  <div class="back-to-top show-scro">
    <button><i class="fas fa-chevron-up"></i></button>
  </div>
  <!-- back to top -->
    <!-- footer -->
  <footer class="footer">
    <!-- nav-top -->
    <div class="footer-top">
    <div class="contact-us">
      <!-- footer header -->
      <div class="footer-header">
        <h3>Contact Us</h3>
      </div>
      <!-- end footer header -->
      <div class="single-contact">
        <div class="contact-icon">
          <i class="fas fa-address-book"></i>
        </div>
        <div class="contact-info">
          <p>Contact address here</p>
        </div>
      </div>
      <div class="single-contact">
        <div class="contact-icon">
          <i class="fas fa-phone"></i>
        </div>
        <div class="contact-info">
          <a href="tel:+2348107327467">+2348107327467</a>
        </div>
      </div>
      <div class="single-contact">
        <div class="contact-icon">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="contact-info">
          <a href="mailto:worshipwithjoe@gmail.com">worshipwithjoe@gmail.com</a>
        </div>
      </div>
    </div>
    <!-- navigate site -->
    <div class="other-page">
      <div class="footer-header">
        <h3>Other Pages</h3>
      </div>
      <div class="pages">
        <div class="footer-page">
          <a href=""><i class="fas fa-arrow-right"></i> Home</a>
        </div>
        <div class="footer-page">
          <a href=""><i class="fas fa-arrow-right"></i> About Us</a>
        </div>
        <div class="footer-page">
          <a href=""><i class="fas fa-arrow-right"></i> Article</a>
        </div>
        <div class="footer-page">
          <a href=""><i class="fas fa-arrow-right"></i> Worship with JOE</a>
        </div>
        <div class="footer-page">
          <a href=""><i class="fas fa-arrow-right"></i> Contact Us</a>
        </div>
      </div>
    </div>
    <!-- end navigate site -->

    </div>
    <!-- footer bottom -->
    <article class="footer-note">
      <div class="footer-icons">
          <div class="footer-icon">
            <a href="https://www.facebook.com/profile.php?id=100063558847754"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="footer-icon">
            <a href="https://twitter.com/joe"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="footer-icon">
            <a href="https://instagram.com/jesusovereverything_7?igshid=ZDdkNTZiNTM="><i class="fab fa-instagram"></i></a>
          </div>
           <div class="footer-icon">
            <a href="https://www.linkedin.com/joe"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="footer-icon">
            <a href="https://youtube.com/@worshipwithjoe1565"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer-right">
          <p>&copy; <span class="footer-date"></span> Jesus Over Everything. all right reserved</p>
        </div>
        <div class="designer">
          <p>site built by <a href="https://heritagewebdev.netlify.app">Heritage Web Dev</a></p>
        </div>
    </article>
  </footer>
  <!-- end footer -->
  <script src="./js/googlejquery.js"></script>
  <script src="./js/aos.js"></script>
  <script src="./js/owlcarousel/owl.carousel.min.js"></script>
  <script src="./js/owlcarousel/owl.autoplay.js"></script>
  <script src="./js/utility.js"></script>
  <script src="./js/scripts.js"></script>
  <script>
    AOS.init()
  </script>
</body>
</html>