{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<!-- banner -->
<div class="banner worship-banner" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('{%static 'blog/images/worship3.jpg' %}') center/cover no-repeat fixed;">
  <div class="banner-text">
    <h1>Worship with us at Jesus over everything</h1>
  </div>
</div>
<!-- end banner -->
<main>

  <div class="section-container">
    <div class="articles">
      {% for video in items %}
        <div class="single-video">
          {{video.content|safe}}
        </div>
      
      {% endfor %}
    </div>
        <!-- pagination -->
        {% include "blog/pagination.html" %}
  <!-- end of pagination -->
  </div>
</main>

{% endblock content %}
  